{% extends "StefDagVanDeWeekBundle::layout.html.twig" %}

{% block content %}

<form action="{{ path('stef_dag_van_de_week_contact') }}" method="post" {{form_enctype(form) }}>
{{ form_widget(form) }}


<button type="submit">Send</button>


</form>

{% endblock %}