{% if page.year > 1000 and page.year < 1101 %}
    <h2>11e eeuw</h2>
    <p>De elfde eeuw loopt van het jaar 1001 t/m 1100. Veel historici spreken over deze periode van het begin van de <strong>Hoge Middeleeuwen</strong>. In deze periode houden de Vikingen het geleidelijk aan voor gezien en nemen de plunderingen snel af. We stichten ze nog snel een aantal kolonies op IJsland en Groenliand. </p>
    <h2>Uitgestorven</h2>
    <p>Vanwege de verandering van het klimaat en de toegenomen jacht stierf in Nederland de bruine beer uit. Ook de Eland trok uit ons gebied en is tegenwoordig alleen nog in noorderlijker gelegen gebieden te vinden.</p>
    <h2>Nieuw millennium</h2>
    <p>Bij het aanbreken van het jaar 1001 begon niet alleen de 11e eeuw, maar ook het tweede millennium. Een millennium bestrijkt een periode van 1000 jaar en het tweede millennium loopt dan ook van 1001 t/m 2000.</p>
{% endif %}

{% if page.year > 1100 and page.year < 1201 %}
    <h2>12e eeuw</h2>
    <p>In de twaalfde eeuw (1101 t/m 1200) kwamen de verschillende ridderorden in gebruik. De twee meest bekende zijn de <strong>Tempeliers</strong> en <strong>Maltezer Ridders</strong>. Met de oprichting van deze ridderorden waren ook de kruistochten een voldongen feit.</p>
    <h2>Terug van weggeweest</h2>
    <p>Helemaal terug kwam ook de baksteen. Deze Romeinse vinding is vanuit Italie en diverse kloosters verder verspreid. Hoewel de Italiaanse baktechniek niet overal kon worden toegepast (in Friesland kende men bijvoorbeeld zeeklei) kreeg de baksteen een prominente plaats in de samenleving.</p>
    <h2>Pythagoras</h2>
    <p>Hoewel het in de tegenwoordige tijd voor veel scholieren een zwarte bladzijde is in het wiskundeboek, wist een wetenschapper niet van ophouden. Bhaskara II was een wiskundige die het eerste bewijs leverde dat de stelling van Pythagoras correct (en dus juist) is. </p>
{% endif %}

{% if page.year > 1200 and page.year < 1301 %}
    <h2>13e eeuw</h2>
{% endif %}

{% if page.year > 1300 and page.year < 1401 %}
    <h2>14e eeuw</h2>
{% endif %}

{% if page.year > 1400 and page.year < 1501 %}
    <h2>15e eeuw</h2>
{% endif %}

{% if page.year > 1500 and page.year < 1601 %}
    <h2>16e eeuw</h2>
{% endif %}

{% if page.year > 1600 and page.year < 1701 %}
    <h2>17e eeuw</h2>
{% endif %}

{% if page.year > 1700 and page.year < 1801 %}
    <h2>18e eeuw</h2>
{% endif %}

{% if page.year > 1800 and page.year < 1901 %}
    <h2>19e eeuw</h2>
{% endif %}

{% if page.year > 1900 and page.year < 2001 %}
    <h2>20e eeuw</h2>
{% endif %}

{% if page.year > 2000 and page.year < 2101 %}
    <h2>21e eeuw</h2>
{% endif %}

{% if page.year > 2100 and page.year < 2201 %}
    <h2>22e eeuw</h2>
{% endif %}