{% if page.year > 1588 and page.year < 1702 %}
    <h2>Gouden Eeuw</h2>
    <p>Dit jaar valt binnen de periode die de Gouden Eeuw wordt genoemd. Er zijn verschillende bronnen die deze periode iets verlengen of verkorten, maar grofweg de jaren 1588 t/m 1702 worden tot de Gouden Eeuw gerekend.</p>
{% endif %}

{% if page.year > 1350 and page.year < 1490 %}
    <h2>Hoekse en Kabeljouwse twisten</h2>
    <p>Een aantal edelen, onder wie Jan I van Egmont en Gerard van Heemskerk, zag als enige uitkomst dat Willem V zijn banden met zijn moeder en omgeving los zou maken. Wolfert III van Borselen zou deze staatsgreep begin 1350 uit moeten voeren, maar dit werd verhinderd door de terugkeer van Margaretha, waarna Willem V zich aan haar onderwierp in het besef te hebben gefaald. De opstandige edelen, onder de geuzennaam Kabeljauwen, gaven echter niet op en sloten op 23 mei 1350 de Kabeljauwse verbondsakte, waarmee zij aangaven dat Willem V landsheer moest worden zonder de betalingsverplichting aan zijn moeder.</p>

    <p>Hoewel enkele steden zoals Delft zich direct bij de Kabeljauwen aansloten, werd op 5 september een tegenverbond gesloten door de Hoeken, die Margaretha steunden.</p>
{% endif %}

{% if page.year > 500 and page.year < 1500 %}
    <h2>Middeleeuwen</h2>
    <p>De Middeleeuwen zijn een periode vol onrust en wapengekletter. De bevolking is strikt opgedeeld in klasses, zoals de Boeren, Arbeiders en Adel. Deze donkere eeuwen kennen wij ook als de riddertijd.</p>
{% endif %}

{% if page.year > 1837 and page.year < 1901 %}
    <h2>Victoriaanse tijd</h2>
    <p>Deze periode is kenmerkend door de Britse koninging Victoria. Het is een tijd vol met strenge zeden, kuisheid en industriele revolutie. Deze periode kwam sterk in Groot Britannie tot uiting maar deze invloeden zijn ook in andere Europese landen terug te zien.</p>
{% endif %}