parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dagvandeweek
    database_user:     homestead
    database_password: secret

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            nl
    secret:            ThisTokenIsNotSoSecretChangeIt

    app.version: 0.0.1
    app.title: DagVanDeWeek
    app.cmstitle: DagVanDeWeek CMS
    app.http_entrypoint: http://dagvandeweek.dev
    app.twitter_name: ~
    app.twitter_url: ~
    app.facebook_url: ~
    app.googleplus_url: ~
    app.domain: ~
    app.analyticsid: ~