<div class="footer2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="simplenav">
                        <a href="#">Home</a> |
                        <a href="about.html">About</a> |
                        <a href="sidebar-right.html">Sidebar</a> |
                        <a href="contact.html">Contact</a> |
                        <b><a href="signup.html">Sign up</a></b>
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>