<div class="inner cover">
    <h2 class="cover-heading">Staat er Bier in de klok?</h2>
    <p class="lead">De tijd op dit moment is: <span id="currenttime">{{ "now"|date("M:s") }}</span></p>
    <p class="lead" id="geenbier">Helaas, u moet nog heel even wachten op uw pilsje!</p>
    <p class="lead" id="welbier">Fantastisch! U kunt nu genieten van een verse gele rakker!</p>
</div>

<script src="/js/clock.js"></script>
<script>

    window.setInterval("exec()",30);

    function exec(){
        var clock = new Clock();
        var time = clock.getTime();

        if(time.indexOf('4') > 0){
            $('#geenbier').hide();
            $('#welbier').show();
        }else{
            $('#geenbier').show();
            $('#welbier').hide();
        }

        $('#currenttime').text(time);
    }
</script>